<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="/{{ lang_code }}/index.html">Inicio</a></li>
						<li class="active">HISPASEC</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						{# main start #}
						{# ================ #}
						<div class="main col-md-12">
							<h3 class="title">{% trans %}Origen de{% endtrans %} <strong>Hispasec</strong></h3>
							<div class="separator-2"></div>
							<div class="row">
								<div class="col-md-6">
							<p>{% trans %}Hispasec nace a finales de 1998 con el lanzamiento de 'una-al-día', el primer servicio diario de información técnica en español sobre seguridad informática, creado por un grupo de especialistas con el propósito de divulgar y concienciar a los usuarios de la importancia de este sector en el campo de las nuevas tecnologías de la información.{% endtrans %}</p>
							<p>{% trans %}El éxito cosechado por 'una-al-día' y el resto de acciones públicas emprendidas por Hispasec (análisis, comparativas, desarrollos, etc.) origina, de forma espontánea, una demanda de servicios por parte de profesionales y empresas.{% endtrans %}</p>
							<p>{% trans %}Para responder a esta demanda, se crea el laboratorio de seguridad informática, Hispasec, en el año 2000 . Hispasec es una empresa de marcado carácter técnico, sin capital externo ni supeditación a intereses ajenos, gestionada íntegramente por los fundadores de Hispasec.{% endtrans %}</p>
							<p>{% trans %}El punto de inflexión para Hispasec fue el posterior desarrollo de Virustotal que sirvió de inspiración para el desarrollo de nuevos proyectos de investigación y desarrollo. Actualmente nuestro buque insignia es el proyecto Koodous.{% endtrans %}</p>
									<ul class="list-icons">
										<li><i class="icon-check-1"></i> {% trans %}Profesionales experimentados de la seguridad digital{% endtrans %}</li>
										<li><i class="icon-check-1"></i> {% trans %}Equipos multidisciplinares de expertos{% endtrans %}</li>
										<li><i class="icon-check-1"></i> {% trans %}Inversión continua en formación y desarrollo{% endtrans %}</li>
										<li><i class="icon-check-1"></i> {% trans %}Servicios 24x7, guardia permanente{% endtrans %}</li>
									</ul>
								</div>
								<div class="col-md-6">
									<div class="owl-carousel content-slider-with-controls-autoplay">
										<div class="overlay-container">
											<img src="/static/images/about_HS.png" alt="">
										</div>
										<div class="overlay-container">
											<img src="/static/images/about_HS_2.png" alt="">
										</div>
										<div class="overlay-container">
											<img src="/static/images/about_HS_3.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						{# main end #}
					</div>
				</div>
			</section>

		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
