<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
	<!--<![endif]-->

	<head>
		{% include 'layout/header.html' %}
	</head>

	{# body classes:  #}
	{# "boxed": boxed layout mode e.g. <body class="boxed"> #}
	{# "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> #}
	{# "transparent-header": makes the header transparent and pulls the banner to top #}
	{# "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) #}
	<body class="no-trans front-page transparent-header  ">

		{# scrollToTop #}
		{# ================ #}
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		{# page wrapper start #}
		{# ================ #}
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

		
			{# banner start #}
			{# ================ #}
			<div class="banner clearfix">

				{# slideshow start #}
				{# ================ #}
				<div class="slideshow">
					
					{# slider revolution start #}
					{# ================ #}
					<div class="slider-banner-container">
						<div class="slider-banner-fullwidth-big-height">
							<ul class="slides">
								{# slide 1 start #}
								{# ================ #}
								<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="{% trans %}HISPASEC | Servicios de seguridad{% endtrans %}">
								
								{# main image #}
								<img src="/static/images/slide_HS.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">


								{# LAYER NR. 1 #}
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="150"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000"> {% trans %}HISPASEC | Servicios de seguridad{% endtrans %}
								</div>	

								{# LAYER NR. 2 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="230" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-calendar-check-o"></i></span> {% trans %}Servicios activos 24x7, 365 días al año.{% endtrans %}
								</div>

								{# LAYER NR. 3 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="290" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-users"></i></span> {% trans %}Un equipo de técnicos expertos al mando.{% endtrans %}
								</div>

								{# LAYER NR. 4 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="350" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-rocket"></i></span> {% trans %}Innovación y desarrollo permanente de nuevos servicios.{% endtrans %}
								</div>

								{# LAYER NR. 5 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="410" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-cogs"></i></span> {% trans %}Seguridad flexible y adaptativa.{% endtrans %}
								</div>

								{# LAYER NR. 6 #}
								<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="480"
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600"><a href="/{{ lang_code }}/services/antifraud.html" class="btn btn-default-transparent btn-lg btn-animated"> {% trans %}Más información{% endtrans %}<i class="fa fa-check-square-o"></i></a>
								
								</div>
								{# continue animation #}
								<div class="tp-caption sfb fadeout small_white"
									data-x="center"
									data-y="550"
									data-speed="500"
									data-start="0"
									data-easing="easeOutQuad"
									data-endspeed="600">
									<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>									
								</div>
								{# continue animation #}
								</li>
								{# slide 1 end #}

								{# slide 2 start #}
								{# ================ #}
								<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="{% trans %}Koodous | La comunidad de análisis Android colaborativa{% endtrans %}">
								
								{# main image #}
								<img src="/static/images/slide_KD_2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

								{# LAYER NR. 1 #}
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="150"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000">{% trans %}Koodous | La comunidad de análisis Android colaborativa{% endtrans %}
								</div>	

								{# LAYER NR. 2 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="230" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-mobile"></i></span> {% trans %}Análisis libre y colaborativo de aplicaciones de Android{% endtrans %}
								</div>

								{# LAYER NR. 3 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="290" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-sliders"></i></span> {% trans %}Defina sus propias reglas y alertas.{% endtrans %}
								</div>

								{# LAYER NR. 4 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="350" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-cog"></i></span> {% trans %}API accesible para integrar en sus sistemas.{% endtrans %}
								</div>

								{# LAYER NR. 5 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="410" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-spinner fa-spin"></i></span> {% trans %}Comunidad en continuo crecimiento.{% endtrans %}
								</div>

								{# LAYER NR. 6 #}
								<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="480"
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600"><a href="/{{ lang_code }}/services/koodous.html" class="btn btn-default-transparent btn-lg btn-animated"> {% trans %}Más información{% endtrans %}<i class="fa fa-check-square-o"></i></a>
						
								</div>
								{# continue animation #}
								<div class="tp-caption sfb fadeout small_white"
									data-x="center"
									data-y="550"
									data-speed="500"
									data-start="0"
									data-easing="easeOutQuad"
									data-endspeed="600">
									<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
								</div>
								{# continue animation #}

								</li>
								{# slide 2 end #}

								{# slide 3 start #}
								{# ================ #}
								<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="{% trans %}IOCflow{% endtrans %}">
								
								{# main image #}
								<img src="/static/images/iocflow-web.png" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

								{# LAYER NR. 1 #}
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="150"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000">{% trans %}IOCflow{% endtrans %}
								</div>	

								{# LAYER NR. 2 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="230" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-mobile"></i></span> {% trans %}Información en tiempo real sobre una gran variedad de amenazas{% endtrans %}
								</div>

								{# LAYER NR. 3 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="290" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-sliders"></i></span> {% trans %}Proteja a sus usuarios contra amenazas{% endtrans %}
								</div>

								{# LAYER NR. 4 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="350" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-cog"></i></span> {% trans %}Alimente sus sistemas IDS con la última información{% endtrans %}
								</div>

								{# LAYER NR. 5 #}
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="410" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><a href="https://iocflow.com" target="_blank" class="btn btn-default-transparent btn-lg btn-animated"> {% trans %}Más información{% endtrans %}<i class="fa fa-check-square-o"></i></a>
								</div>

								{# continue animation #}								
								<div class="tp-caption sfb fadeout small_white"
									data-x="center"
									data-y="550"
									data-speed="500"
									data-start="0"
									data-easing="easeOutQuad"
									data-endspeed="600">
									<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>									
								</div>
								{# continue animation #}									

								</li>
								{# slide 3 end #}
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					{# slider revolution end #}

				</div>
				{# slideshow end #}

			</div>
			{# banner end #}

			<div id="page-start"></div>
			{# SUSCRIPCION UAD #}
			<section class="section light-gray-bg clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action">
								<div class="row">
									<div class="col-sm-8">
										<h3 class="mt-10 text-muted">{% trans %}Recibe Una al Día en tu correo{% endtrans %}</h3>
									</div>
									<div class="col-sm-4 text-right">
										<a id="subscribe" target="_blank" href="http://eepurl.com/c2zRgL" class="btn btn-lg btn-default btn-animated">{% trans %}Suscríbeme{% endtrans %}<i class="fa fa-arrow-right pl-20"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# SUSCRIPCION UAD #}

			{# section start #}
			{# ================ #}
			<section class="section clearfix">
				<div class="container services-container">
					{# #services#1+UAD #}
					<div class="row grid-space-10">
						{# #Services column #}
						<div class="col-md-9">
							<h3>{% trans %}Nuestros{% endtrans %} <span class="">{% trans %}Servicios{% endtrans %}</span></h3>
							<div class="separator-2"></div>

							{# Antifraud service #}
							<div class="col-md-4">
								<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center" style="min">
									<div class="overlay-container">
										<img src="/static/images/serv_AF_{{ lang_code }}.png" alt="" width="266" height="164">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{% trans %}Servicio 24x7 de detección y cierre de incidentes de fraude{% endtrans %}</em></p>
										</div>
									</div>
									<div class="body">
										<h3>{% trans %}Antifraude{% endtrans %}</h3>
										<div class="separator"></div>
										<p>{% trans %}Servicio dedicado a neutralizar el malware, daño de imagen o fraude de marca que pueda afectarle. Todo gestionado integramente por nuestro departamento eCrime 24x7x365.{% endtrans %}</p>
									</div>
									<a href="/{{ lang_code }}/services/antifraud.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear more-info-service-button">{% trans %}Más información{% endtrans %}<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
							{# End of: Antifraud service #}

							{# Audit & consulting service #}
							<div class="col-md-4">
								<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
									<div class="overlay-container">
										<img src="/static/images/serv_AU_{{ lang_code }}.png" alt="" width="266" height="164">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{% trans %}Cada auditoría, un reto.{% endtrans %}</em></p>
										</div>
									</div>
									<div class="body">
										<h3>{% trans %}Auditorías{% endtrans %}</h3>
										<div class="separator"></div>
										<p>{% trans %}El equipo de auditoria tiene una motivación: Reconocer, analizar y explotar de manera minuciosa su infraestructura Para nuestros auditores no solo es un trabajo, es un reto constante.{% endtrans %}</p>
									</div>
									<a href="/{{ lang_code }}/services/audits.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear more-info-service-button">{% trans %}Más información{% endtrans %} <i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
							{# End of: Audit & consulting service #}

							{# Sana service #}
							<div class="col-md-4">
								<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
									<div class="overlay-container">
										<img src="/static/images/serv_SA.png" alt="" width="266" height="164">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{% trans %}Que no se te pase ninguna actualización de tus sistemas.{% endtrans %}</em></p>
										</div>
									</div>
									<div class="body">
										<h3>SANA</h3>
										<div class="separator"></div>
										<p>{% trans %}Concentre las alertas de seguridad, ponga remedio a las vulnerabilidades en el mínimo tiempo posible. Deje a nosotros su obligación de estar pendiente  de los agujeros de seguridad de sus productos.{% endtrans %}</p>
									</div>
									<a href="/{{ lang_code }}/services/sana.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear more-info-service-button">{% trans %}Más información{% endtrans %}<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
							{# End of: Sana service #}
						</div>
						{# #Services column #}

						{# #UAD column#}
						<div class="col-md-3">
							<h3 style="text-align: center;"><span class="text-default">{% trans %}Blog{% endtrans %}</span> <span>Una-al-día</span></h3>
							
							{# #UAD #}
							<div class="owl-carousel content-slider-with-large-controls-autoplay buttons-hide owl-pagination-disable" style="">
								{# #UAD-1 #}
								<div class="image-box style-1 blog-box" id="uad1">
									<div class="overlay-container overlay-visible">
										<a href="" class="overlay-link"><i class="fa fa-link"></i></a>
									</div>
									<div class="body padding-horizontal-clear">
										<p class="title-as-summary"></p>
										<a class="link-dark" href="">{% trans %}Leer más{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								{# #UAD-2 #}
								<div class="image-box style-3 blog-box" id="uad2">
									<div class="overlay-container overlay-visible">
										<a href="" class="overlay-link"><i class="fa fa-link"></i></a>
									</div>
									<div class="body padding-horizontal-clear">
										<p class="title-as-summary"></p>
										<a class="link-dark" href="">{% trans %}Leer más{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								{# #UAD-3 #}
								<div class="image-box style-1 blog-box" id="uad3">
									<div class="overlay-container overlay-visible">
										<a href="" class="overlay-link"><i class="fa fa-link"></i></a>
									</div>
									<div class="body padding-horizontal-clear">
										<p class="title-as-summary"></p>
										<a class="link-dark" href="">{% trans %}Leer más{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							{# #UAD #}

							<h3 style="text-align: center;"><span class="text-default">{% trans %}Blog{% endtrans %}</span> <span>{% trans %}del Laboratorio{% endtrans %}</span></h3>
						</div>
						{# #UAD column #}
					</div>
					{# #services#1+UAD #}

					{# #services#2+BLOG #}
					<div class="row grid-space-10">
						{# #Services#2 column #}
						<div class="col-md-9">
							{# #services KD, CO, CU #}
							<div class="col-sm-8 col-md-4">
								<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
									<div class="overlay-container">
										<img src="/static/images/serv_KD.png" alt="" width="266" height="164">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{% trans %}Comunidad de analistas de todo el mundo expertos en Android.{% endtrans %}</em></p>
										</div>
									</div>
									<div class="body">
										<h3>Koodous</h3>
										<div class="separator"></div>
										<p>{% trans %}Millones de aplicaciones para analizar y crear alertas según sus necesidades. Totalmente libre y adaptable gracias a su API.{% endtrans %}</p>
									</div>
									<a href="/{{ lang_code }}/services/koodous.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear more-info-service-button">{% trans %}Más información{% endtrans %}<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
							<div class="col-sm-8 col-md-4">
								<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
									<div class="overlay-container">
										<img src="/static/images/iocflow-service.png" alt="" width="266" height="164">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{% trans %}Mantente a la vanguardia de la ciberinteligencia.{% endtrans %}</em></p>
										</div>
									</div>
									<div class="body">
										<h3>IOCFlow</h3>
										<div class="separator"></div>
										<p>{% trans %}Servicio que ofrece feeds útiles para reforzar sus sistemas contra futuras amenazas{% endtrans %}</p>
									</div>
									<a href="//iocflow.com/" target="_blank" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear more-info-service-button">{% trans %}Más información{% endtrans %}<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
							<div class="col-sm-8 col-md-4">
								<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
									<div class="overlay-container">
										<img src="/static/images/services_FO_{{ lang_code }}.png" alt="" width="266" height="164">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{% trans %}Formación a medida de seguridad informática{% endtrans %}</em></p>
										</div>
									</div>
									<div class="body">
										<h3>{% trans %}Formación{% endtrans %}</h3>
										<div class="separator"></div>
										<p>{% trans %}Ofrecemos formación en seguridad multinivel y cursos personalizados para empleados y directivos. Elija su próximo conocimiento.{% endtrans %}</p>
									</div>
									<a href="/{{ lang_code }}/services/training.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear more-info-service-button">{% trans %}Más información{% endtrans %}<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
							{# #services KD, CO, CU #}
						</div>
						{# #Services#2 column #}

						{# #LAB column#}
						<div class="col-md-3">
							{# #LAB #}
							<div class="owl-carousel content-slider-with-large-controls-autoplay buttons-hide owl-pagination-disable" style="">
								<div class="image-box style-2 blog-box" id="lab1">
									<div class="overlay-container overlay-visible">
										<a href="" class="overlay-link"><i class="fa fa-link"></i></a>
									</div>
									<div class="body padding-horizontal-clear">
										<p class="title-as-summary"></p>
										<a class="link-dark" href="">{% trans %}Leer más{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<div class="image-box style-2 blog-box" id="lab2">
									<div class="overlay-container overlay-visible">
										<a href="" class="overlay-link"><i class="fa fa-link"></i></a>
									</div>
									<div class="body padding-horizontal-clear">
										<p class="title-as-summary"></p>
										<a class="link-dark" href="">{% trans %}Leer más{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<div class="image-box style-2 blog-box" id="lab3">
									<div class="overlay-container overlay-visible">
										<a href="" class="overlay-link"><i class="fa fa-link"></i></a>
									</div>
									<div class="body padding-horizontal-clear">
										<p class="title-as-summary"></p>
										<a class="link-dark" href="">{% trans %}Leer más{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>								
							</div>
							{# #LAB #}				
						</div>
						{# #LAB column #}
					</div>
					{# #services#2+LAB #}
				</div>
			</section>
			{# section end #}

			{# services watermark #}
			<div class="clients-container">
				<div class="clients">
					<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="200">
						<i class="hs-AF_logo-single_dark services_list"> </i>
					</div>
					<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="300">
						<i class="hs-AU_logo-single_dark services_list"> </i>
					</div>
					<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="100">
						<i class="hs-HS_logo-single_dark services_list"> </i>
					</div>
					<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="400">
						<i class="hs-SA_logo-single_dark services_list"> </i>
					</div>
					<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="400">
						<i class="hs-KD_logo-single_dark services_list"> </i>
					</div>
				</div>
			</div>
			<br>
			{# services watermark #}	

		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}
	</body>
</html>
